<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8"/>
  <title>Almulla Online</title>
</head>
<body>
<div id="app"></div>
<script>
  function getJson(str) {
    var json;
    try {
      json = JSON.parse(str);
    } catch (e) {
      console.error('Error in config: ', e);
      return false;
    }
    return json;
  }
  window.CONST = {
    dev: false,
    remoteServerUrl: '',
    remoteJsUrl: 'http://10.28.42.83/onlinewebapp',
    dummyApi: false,
    remoteJsVersion: '[[${CDN_VERSION}]]', //
  };
  var config = getJson(window.localStorage.getItem('debugConfig'));
  if (config) {
    window.CONST.dev = config.dev || false;
    window.CONST.dummyApi = config.dummyApi || false;
    window.CONST.remoteServerUrl = config.remoteServerUrl || '';
    window.CONST.remoteJsUrl = config.remoteJsUrl || '';
  }

  // add css and js
  var head = document.getElementsByTagName('head')[0];
  var js = document.createElement('script');
  js.type = 'text/javascript';
  js.src = window.CONST.remoteJsUrl + '/dist/main.bundle.'+ window.CONST.remoteJsVersion +'.js';
  var css = document.createElement('link');
  css.rel = 'stylesheet';
  css.href = window.CONST.remoteJsUrl + '/dist/style.'+ window.CONST.remoteJsVersion +'.css';
  head.appendChild(css);
  head.appendChild(js);

  // add favicon
  var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
  link.type = 'image/x-icon';
  link.rel = 'shortcut icon';
  link.href = window.CONST.remoteJsUrl + '/dist/favicon.ico';
  document.getElementsByTagName('head')[0].appendChild(link);

</script>
</body>
</html>
