<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Remmtance Feedback</title>
<style type="text/css">
body, html {
	font-family: arial;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
</style>

<script th:inline="javascript">
	var ratingData = ([[${ratingData}]]);
</script>
</head>
<body>

</body>
</html>




