<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Terms and Condition</title>
<style type="text/css">
body, html {
	font-family: arial;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}
</style>
</head>
<body>
	<div id="app">
		<span th:text="${errorCode}"></span> | 
		<span th:text="${term.description}"></span> |
		<span th:text="${term.description}"></span> |
		<form action="" method="post">
			Enter Civil ID <input name="identity" value="" />
			<button type="submit">Verify</button>
		</form>
	</div>
</body>
</html>
