<!DOCTYPE html>
<html>
<head>
<!-- Static content -->

<title>Admin Service</title>

<style type="text/css">
table, th, td {
	border: 1px solid black;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 2px;
}
</style>

</head>
<body>
	<h1 align="center">Welcome to AlMulla Admin Service !!!</h1><hr />	<br />	<br />
	

	<table>
		<tr>
			<th>Service</th>
			<th>URL</th>
		</tr>
		<tr>
			<td>To Unlock Customer</td>
			<td>/app/customer/unlock</td>

		</tr>
		<tr>
			<td>To DeActivate Customer</td>
			<td>/app/customer/deactivate</td>

		</tr>
		<tr>
			<td>Create or Update OTP Settings</td>
			<td>/app/config</td>
		</tr>
		<tr>
			<td colspan="2"><center><a href="swagger-ui.html#">Swagger</a></center></td>
		</tr>

	</table>


</body>
</html>