<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[[${snapView}]]</title>

<script
	src='//code.jquery.com/jquery-3.3.1.js'
	type='text/javascript'></script>
<script src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'
	type='text/javascript'></script>
<link rel="stylesheet"
	href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<!--  Data table Buttons -->
<script src='//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js'
	type='text/javascript'></script>
<script src='//cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js'
	type='text/javascript'></script>	
<script src='//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'
	type='text/javascript'></script>	
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js'
	type='text/javascript'></script>	
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js'
	type='text/javascript'></script>	
<script src='//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js'
	type='text/javascript'></script>	
<script src='//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js'
	type='text/javascript'></script>	
<link rel="stylesheet"
	href="//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">	

<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js'
	type='text/javascript'></script>	
	
<!--  PivotTable 
<script
	src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'
	type='text/javascript'></script>
<script
	src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'
	type='text/javascript'></script>
<script
	src='https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.js'
	type='text/javascript'></script>
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.css">

<script src='/radar/js/jSQL.js' type='text/javascript'></script>

-->
<style>
/* Dropdown Button */
.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 7px;
	/*  font-size: 16px; */
	border: none;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.padbox {
	padding: 5px;
	float: left;
}

#querybox {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 0px;
	opacity: 0;
}

#querybox.show {
	width: 400px;
}

.slider {
	overflow-y: hidden;
	max-height: 1200px; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#querytext {
	margin: 0px;
	height: calc(100% - 60px);
	width: 100%;
}

.show {
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
}
</style>
<script>
function tabify(response, options) {
    let table;
    if (typeof (options) === 'undefined') {
        options = {
            debug: false
        }
    }

    if (response.aggregations) {
        const tree = collectBucket(response.aggregations);
        table = flatten(tree);

    } else if (response.hits) {
        table = response.hits.hits.map((d) => d._source);

    } else if (Array.isArray(response)) {
        table = response;

    } else {
        throw new Error("Tabify() invoked with invalid result set. Result set must have either 'aggregations' or 'hits' defined.");
    }

    if (options.debug) {
        console.log("Results from tabify (first 3 rows only):");

        // This one shows where there are "undefined" values.
        console.log(table)

        // This one shows the full structure pretty-printed.
        console.log(JSON.stringify(table.slice(0, 3), null, 2))
    }

    return table;
}

function collectBucket(node, stack=[]) {
    if (!node)
        return;
    
    const keys = Object.keys(node);
    
    // Use old school `for` so we can break control flow by returning.
    for(let i = 0; i < keys.length; i++) {
        const key = keys[i];
        const value = node[key];
        if (typeof value === 'object' && value !== null) {
            if ("hits" in value && Array.isArray(value.hits) && value.hits.length === 1) {
                if ("fields" in value.hits[0]) {
                	console.log(value.hits[0]['fields'])
                    //value.hits[0]._source['fields'] = value.hits[0].sort[0];
                    for(var __key in value.hits[0]['fields']){
                    	return value.hits[0]['fields'][__key][0]
                    	value.hits[0]._source[__key] = value.hits[0]['fields'][__key][0];
                    	console.log(value.hits[0]['fields'][__key][0])
                    }
                    console.log(value.hits[0])
                    //return value.hits[0]['fields'][0];
                }
                if ("sort" in value.hits[0]) {
                    //value.hits[0]._source['sort'] = value.hits[0].sort[0];
                }
                return null;
                return value.hits[0]._source;
            }

            if (Array.isArray(value)) {
                return extractTree(value, [...stack, key]);
            }

            // Here we are sure to have an object
            if (key === "buckets" && Object.keys(value).length > 1)
            {
                return extractBuckets(value, [...stack, key]);
            }

            return collectBucket(value, [...stack, key]);
        }

        if (key === "value" && typeof value !== "object" && stack.length === 1) {
            let collectedObject = collectBucket({[stack[0]]: value});
            node = collectedObject;
        }
    }

    return node;
}

function extractBuckets(buckets, stack) {
    const keys = Object.keys(buckets);
    let results = [];

    for(let i = 0; i < keys.length; i++) {
        const key = keys[i];
        const value = buckets[key];

        let currentObject = collectBucket({[key]: value});

        if (!currentObject)
            continue;

        currentObject[stack[stack.length - 2]] = key;
        results.push(currentObject)
    }

    return results;
}

function extractTree(buckets, stack) {
    return buckets.map((bucket) => {
        return Object.keys(bucket).reduce(function (tree, key) {
            let value = bucket[key];

            if (typeof value === "object") {
                if("value" in value){
                    value = value.value;
                } else {
                    value = collectBucket(value, [...stack, key]);
                }
            }

            if(key === "key"){
                key = stack[stack.length - 2]
            }
            
            tree[key] = value;
        
            return tree;
        }, {});
    });
}

function flatten(tree, parentNode={}){

    if (!tree)
        return [];

    if (!Array.isArray(tree))
        tree = [tree];

    return tree

        // Have the child node inherit values from the parent.
        .map((childNode) => Object.assign({}, parentNode, childNode))

        // Each node object here has values inherited from its parent.
        .map((node) => {

            // Detect properties whose values are arrays.
            const childTrees = Object.keys(node)
                .map((key) => {
                    const value = node[key];
                    if (Array.isArray(value)) {
                        return value;
                    }
                    return false;
                })
                .filter((d) => d);

            switch (childTrees.length) {

                // Leaf node case, return the node.
                case 0:
                    return node;

                // Non-leaf node case, recurse on the child nodes.
                case 1:
                    const childTree = childTrees[0];
                    if(childTree.length === 0){
                        return node;
                    }
                    return flatten(childTree, node);
                default:
                    throw new Error("This case should never happen");
            }
        })

        // Flatten the nested arrays.
        .reduce((a, b) => a.concat(b), []);
}
function dropdown(classname) {
	  document.getElementById(classname).classList.toggle("show");
}
</script>
</head>

<div style="width: 100%; height: 60px">
	<div class="dropdown padbox">
		<button onclick="dropdown('myDropdown')" class="dropbtn">[[${snapView}]]</button>
		<div id="myDropdown" class="dropdown-content">
			<a th:each="sv : ${snapViews}" th:href="'/radar/snap/table/' + ${sv}"
				th:text="${sv}">Link 1</a>
		</div>
	</div>

	<div class="form padbox">
		<form>
			<input name="level" type="number" th:value="${level}">
			<label> From : <input name="gte" th:value="${gte}" placeholder="2019-10-01 00:00:00">
			</label> <label> To : <input name="lte" th:value="${lte}" placeholder="2019-10-02 00:00:00">
			</label>
			<button type="submit" value="submit" class="dropbtn">Submit</button>
		</form>
	</div>
	<div class="padbox" style="float: left">
		<button onclick="dropdown('querybox')" class="dropbtn">Query</button>
	</div>

</div>

<hr />
<div id="tabledivWrapper">

	<table id="tablediv" class="display nowrap" style="width:100%">
		<thead>
			<tr>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
            <tr>
            </tr>
        </tfoot>
	</table>

</div>

<div id="pivotTable"></div>

<script>
  var SQL_DATA;

  function executeQuery(url,map){
	   $.ajax({
		    type: 'POST',
		    url: url,
		    data: JSON.stringify (map),
		    contentType: "application/json",
		    dataType: 'json'
		}).done(function(resp){
			var bulk = resp.bulk ? resp.bulk : tabify(resp);
			$("#querytext").val(JSON.stringify(resp._query, null, 2));
			
			if(bulk.length ==0){
				return;
			}
			
			var columns = []; 
			var _bulkItem = bulk.reduce(function(total, currentValue, currentIndex, arr){
				for(var k in currentValue){
					total[k] = currentValue[k];
				}
				return total;
			},{});
			
			var table = [Object.keys(_bulkItem).map(function(key){
				return key;
			})];
			
			for(var i in bulk){
				var bulkItem = bulk[i];
				var tableItem = [];
				for(var key in _bulkItem){
					if(bulkItem[key] !==undefined){
						if(typeof bulkItem[key] == "object")
						bulkItem[key] = JSON.stringify(bulkItem[key]);
					} else {
						bulkItem[key] = null;
					}
					tableItem.push(bulkItem[key])
				}
				table.push(tableItem);
			}
			console.log("table",table);
			SQL_DATA = bulk;
			if(_bulkItem){
				columns = Object.keys(_bulkItem).map(function(key){
					return { data: key, title : key.toUpperCase()  };
				});
				console.log(columns,bulk);
				$('#tablediv').DataTable({
					dom: 'Bfrtip',
					columns : columns, data: bulk,
			        buttons: [
			        	'copy', 'csv', 'excel', 'pdf', 'print'
			        ]
				});
			}
			
			return;
			$("#pivotTable").pivotUI(
					table, {
				    rows: ["sex", "smoker"],
				    cols: ["day", "time"],
				    vals: ["tip", "total_bill"],
				    aggregatorName: "Sum over Sum",
				    rendererName: "Heatmap"
			});
			
		}); 
  }
  
  var DATE_REG = /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))( +)(0[0-9]|1[0-9]|2[0-4]):([0-5][0-9]):([0-5][0-9])/;
  $(document).ready(function(){
	  var _html = $("#tabledivWrapper").html();
	  
	  var lte = "[[${lte}]]";
	  var gte = "[[${gte}]]";
     	if(DATE_REG.test(lte)){
     		lte = new Date(lte).getTime();
     	} 
     	if(DATE_REG.test(gte)){
     		gte = new Date(gte).getTime();
     	} 
		  
	  
	  executeQuery("/radar/snap/view/[[${snapView}]]",{
		  "lte" : lte,
		  "gte" : gte,
		  "level" : "[[${level}]]",
		  "bulk" : true
	  });
	  
	  $("#querybutton").click(function(){
		  $("#tabledivWrapper").html(_html);
		  var query = $("#querytext").val();
		  executeQuery("/radar/snap/execute/query/[[${snapView}]]",JSON.parse(query));
	  });
  });
  </script>

<div id="querybox" class="slider">
	<textarea id="querytext">
  	
  </textarea>
	<center>
		<button id="querybutton" class="dropbtn">Submit Query</button>
		<button onclick="dropdown('querybox')" class="dropbtn">Close</button>
	</center>

</div>

</body>

</html>