<html>
<head>
<style type="text/css">
html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Arial Bold;
	font-size: 30px;
	line-height: 30px;
}
</style>
</head>
<table>

<html2img><div>hi!</div></html2img>

	<tr>
		<html2img><div style="width:600px;font-size:30px"><td class="testFont" th:text="#{label.test.text}"></td>
		<td class="testFont" th:text="#{label.test.text}"></td>
		<td class="testFont" th:text="#{label.test.text}"></td>
		<td class="testFont" th:text="#{label.test.text}"></td>
		<td class="testFont" th:text="#{label.test.text}"></td>
		<td class="testFont" th:text="#{label.test.text}"></td></div></html2img>
	</tr>
	<tr>
		<td class="testFont" pm:pftext="#{label.test.text}"></td>
	</tr>
	<tr>
		<td class="testFont2" pm:pftext="#{label.test.text}"></td>
	</tr>

</table>

</html>