<center>
	<table align="center" border=1 cols=2>
		<tr>
			<td align="center"><b>Param</b></td>
			<td>Value</td>
		</tr>
		<tr>
			<td>CIVIL_ID</td>
			<td>${CIVIL_ID}</td>
		</tr>
		<tr>
			<td>FULL_NAME</td>
			<td>${FULL_NAME}</td>
		</tr>
		<tr>
			<td>NATIONALITY</td>
			<td>${NATIONALITY}</td>
		</tr>
		<tr>
			<td>NATIONALITY</td>
			<td>${INFO}</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<div>&nbsp;</div>
				<div>WAIT...</div>
				<div>
					<form method="post">
						<input name="reset" value="reset" type="hidden">
						<button type="submit">Scan Card</button>
					</form>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">${ACTION} - ${INFO}</td>
		</tr>
	</table>
</center>
