<!DOCTYPE html>
<html>
<head>
<!-- Static content -->

<title>Device Registration</title>

<style type="text/css">
table, th, td {
	border: 1px solid black;
	font-size: 14px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 2px;
}
.dn {
	display: none;
}
</style>
	<script>
window.CONST = {
	    dev: false,
	    appContext: '[[${appContext}]]',
	    remoteServerUrl: '[[${appContext}]]',
	    remoteJsUrl: '[[${cdnUrl}]]', //
	    remoteJsVersion: '[[${CDN_VERSION}]]', //
	    dummyApi: false,
	    fpath : '[[${cdnUrl}]]/dist/fingerprint.js',
	    did : '[[${did}]]',
	    lang : '[[${lang}]]'
	  };
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script src="https://cdnd-kwt.amxremit.com/onlinewebapp/dist/fingerprint.js"></script>
	<script th:if="${did==null}">
	(function(a){if("localStorage"in a){var b=a.localStorage.getItem("__did__");b?(a=new Date,a.setTime(a.getTime()+31536E6),a="expires="+a.toUTCString(),document.cookie="did="+b+";"+a+";path=/"):(b=a.CONST.fpath,a=document.createElement("script"),a.type="application/javascript",a.src=b,document.body.appendChild(a))}})(this);
</script>
	<script th:unless="${did==null}">
(function(win){if("localStorage"in win)if(win.CONST.did)win.localStorage.setItem("__did__",win.CONST.did)})(this);
</script>
</head>
<body>
	<h1 align="center">Device Registration Panel</h1>
	<hr />
	<br />
	<br />
	<table>
		<tr>
			<td>
				<table class="device" width="100%">
					<tr>
						<th>Device</th>
						<th id="otp">--</th>
					</tr>
					<tr>
						<td>statusKey
						</th>
						<td id="statusKey">--</td>
					</tr>
					<tr>
						<td>deviceRegId</td>
						<td id="deviceRegId">--</td>
					</tr>
					<tr>
						<td>deviceRegToken
						</th>
						<td id="deviceRegToken">--</td>
					</tr>
					<tr>
						<td>deviceActivationStatus</td>
						<td id="deviceActivationStatus">--</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table class="session" width="100%">
					<tr>
						<th colspan="2">Device Pairing</th>
					</tr>
					<tr class="paired dn">
						<td colspan="2"><center><button>UnPair</button></center></td>
					</tr>
					<tr class="unpaired dn" >
						<td><input placeholder="Enter Civil ID" size="50"></td>
						<td id="sessionOTP"><button>Pair</button></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>
<script>
	var serverUrl = window.CONST.remoteServerUrl;
	var terminalIP = localStorage.getItem("terminalId")
			|| window.prompt("Enter Terminal");
	localStorage.setItem("terminalId", terminalIP);
	var deviceRegId = localStorage.getItem("deviceRegId");
	var deviceRegToken = localStorage.getItem("deviceRegToken");
	var did = localStorage.getItem("__did__") || guid();
	localStorage.setItem("__did__", did);

	function guid() {
		function s4() {
			return Math.floor((1 + Math.random()) * 0x10000).toString(16)
					.substring(1);
		}
		return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4()
				+ s4() + s4();
	}

	function pairDevice() {
		var dfd = jQuery.Deferred();
		if (deviceRegToken && deviceRegId) {
			setTimeout(function() {
				dfd.resolve({
					deviceRegId : deviceRegId,
					deviceRegToken : deviceRegToken
				});
			}, 0);
			//activateDevice();
			return dfd.promise();
		}
		return $.ajax({
			url : serverUrl + "/pub/device/pair",
			method : 'POST',
			dataType : 'json',
			contentType : "application/json",
			headers : {
				'x-did' : did
			},
			data : JSON.stringify({
				deivceClientType : "OFFSITE_WEB"
			})
		}).then(function(resp) {
			$(".device #statusKey").text(resp.statusKey);
			if (resp && resp.results && resp.results[0]) {
				deviceRegId = resp.results[0].deviceRegId;
				deviceRegToken = resp.results[0].deviceRegToken;
				localStorage.setItem("deviceRegId", deviceRegId);
				localStorage.setItem("deviceRegToken", deviceRegToken);
				return resp.results[0];
			}
		});
	}

	var deviceActivationStatus, $activateDevice;

	var terminalId, deviceSessionToken, deviceRequestKey, deviceRequestToken, sessionOTP;

	var requestToken, hmacTimer;

	function hmac() {
		if (deviceRegId && deviceRequestKey) {
			return $.getJSON(serverUrl + "/offsite/pub/amx/hmac", {
				interval : 30,
				secret : deviceRequestKey,
				message : deviceRegId,
				length : 6
			}).done(function(resp) {
				$(".status #hmac").text(resp.hmac);
				requestToken = resp.hmac;
			}).always(function() {
				clearTimeout(hmacTimer);
				hmacTimer = setTimeout(hmac, 10000);
			});
		} else {
			clearTimeout(hmacTimer);
			hmacTimer = setTimeout(hmac, 10000);
		}
	}

	function poll() {
		return pairDevice();
	}
	hmac();
	poll();
</script>
</html>
