<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorry, We are doing some maintenence work !</title>
    <style type="text/css">
        body,html{
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: OpenSans, Arial, Georgia;
        }
        body{
            padding: 70px 0;
        }
        img{
            max-width: 100%;
        }
    </style>
</head>
<body>
<img th:src="@{images/knet_down.png}" />
<p>Due to technical difficulties the KNet banking services are temporarily unavailable.</p>
</body>
</html>