<!DOCTYPE html>
<html>
<head>
<!-- Static content -->

<title>Offsite Application</title>

<style type="text/css">
table, th, td {
	border: 1px solid black;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 2px;
}
</style>

</head>
<body>
	<h1 align="center">Welcome to Al Mulla Admin Panel !!!</h1>
	<hr />
	<br />
	<br />

	<table>
		<tr>
			<th>Service</th>
			<th>Link</th>
		</tr>
		<tr>
			<td>Push Notification</td>
			<td><a href="/app/push">Link</a></td>
		</tr>

		<tr>
			<td>Service</td>
			<td><a href="/app/service2">Link</a></td>
		</tr>

	</table>

</body>
</html>
