<!DOCTYPE html>
<html>
<head>
<!-- Static content -->

<title>SIGNPAD</title>

<style type="text/css">
table, th, td {
	border: 1px solid black;
	font-size: 14px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 2px;
}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

</head>
<body>
	<h1 align="center">Welcome to Al Mulla Admin Panel !!!</h1>
	<hr />
	<br />
	<br />
	<table>
		<tr>
			<td>
				<table class="device" width="100%">
					<tr>
						<th>Device</th>
						<th id="otp">--</th>
					</tr>
					<tr>
						<td>statusKey
						</th>
						<td id="statusKey">--</td>
					</tr>
					<tr>
						<td>deviceRegId</td>
						<td id="deviceRegId">--</td>
					</tr>
					<tr>
						<td>deviceRegToken
						</th>
						<td id="deviceRegToken">--</td>
					</tr>
					<tr>
						<td>deviceActivationStatus</td>
						<td id="deviceActivationStatus">--</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table class="session" width="100%">
					<tr>
						<th>Session</th>
						<th id="otp">--</th>
					</tr>
					<tr>
						<td>statusKey</td>
						<td id="statusKey">--</td>
					</tr>
					<tr>
						<td>deviceSessionToken</td>
						<td id="deviceSessionToken">--</td>
					</tr>
					<tr>
						<td>deviceRequestKey</td>
						<td id="deviceRequestKey">--</td>
					</tr>
					<tr>
						<td>sessionOTP</td>
						<td id="sessionOTP">--</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table class="status" width="100%">
					<tr>
						<th>Polling</th>
						<th id="hmac">--</th>
					</tr>
					<tr>
						<td>statusKey</td>
						<td id="statusKey">--</td>
					</tr>
					<tr>
						<td>deviceState</td>
						<td id="deviceState">--</td>
					</tr>
					<tr>
						<td>stateDataType</td>
						<td id="stateDataType">--</td>
					</tr>
					<tr>
						<td>data</td>
						<td id="data">--</td>
					</tr>
					<tr>
						<td id=signature><img alt="" src="signature.png"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>
<script>
	var terminalIP = localStorage.getItem("terminalId")
			|| window.prompt("Enter Terminal");
	localStorage.setItem("terminalId", terminalIP);
	var deviceRegId = localStorage.getItem("deviceRegId");
	var deviceRegToken = localStorage.getItem("deviceRegToken");
	var did = localStorage.getItem("did") || guid();
	localStorage.setItem("did", did);

	function guid() {
		  function s4() {
		    return Math.floor((1 + Math.random()) * 0x10000)
		      .toString(16)
		      .substring(1);
		  }
		  return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
		}
	
	function pairDevice() {
		var dfd = jQuery.Deferred();
		if (deviceRegToken && deviceRegId) {
			setTimeout(function() {
				dfd.resolve({
					deviceRegId : deviceRegId,
					deviceRegToken : deviceRegToken
				});
			}, 0);
			activateDevice();
			return dfd.promise();
		}
		return $.ajax({
			url : "/pub/device/pair",
			method : 'POST',
			dataType : 'json',
			contentType : "application/json",
			headers : {
				'x-did' : did
			},
			data : JSON.stringify({
				deivceTerminalId : terminalIP,
				deivceClientType : "SIGNATURE_PAD"
			})
		}).then(function(resp) {
			$(".device #statusKey").text(resp.statusKey);
			if (resp && resp.results[0]) {
				deviceRegId = resp.results[0].deviceRegId;
				deviceRegToken = resp.results[0].deviceRegToken;
				localStorage.setItem("deviceRegId", deviceRegId);
				localStorage.setItem("deviceRegToken", deviceRegToken);
				return resp.results[0];
			}
		});
	}

	var deviceActivationStatus, $activateDevice;

	function activateDevice() {
		if (!$activateDevice) {
			$activateDevice = $.ajax({
				url : "/pub/device/activate",
				method : 'POST',
				dataType : 'json',
				//contentType : "application/json",
				data : {
					deviceRegId : deviceRegId,
					deviceType : "SIGNATURE_PAD"
				}
			}).done(
					function(resp) {
						deviceActivationStatus = resp.statusKey;
						$(".device #deviceActivationStatus").text(
								deviceActivationStatus);
					});
		}
		return $activateDevice;
	}

	var terminalId, deviceSessionToken, deviceRequestKey, deviceRequestToken, sessionOTP;

	function pairSession() {
		return pairDevice().then(function() {
			if (deviceSessionToken && deviceRequestKey) {

				$(".device #deviceRegId").text(deviceRegId);
				$(".device #deviceRegToken").text(deviceRegToken);

				var dfd = jQuery.Deferred();
				setTimeout(function() {
					dfd.resolve({
						deviceSessionToken : deviceSessionToken,
						deviceRequestKey : deviceRequestKey
					});
				}, 0);

				return dfd.promise();
			}
			return $.ajax({
				url : '/pub/device/session',
				headers : {
					'x-device-reg-id' : deviceRegId,
					'x-device-reg-token' : deviceRegToken
				},
				method : 'GET',
				dataType : 'json'
			}).then(function(resp) {
				$(".session #statusKey").text(resp.statusKey);
				if (resp && resp.results[0]) {
					deviceSessionToken = resp.results[0].deviceSessionToken;
					deviceRequestKey = resp.results[0].deviceRequestKey;
					sessionOTP = resp.results[0].sessionOTP;
					$(".session #deviceSessionToken").text(deviceSessionToken);
					$(".session #deviceRequestKey").text(deviceRequestKey);
					$(".session #sessionOTP").text(sessionOTP);
				}
				terminalId = resp.meta;
				validateSession();
			});

		})
	}
	function validateSession() {
		return $.ajax({
			url : "/pub/device/session/pair",
			method : 'POST',
			dataType : 'json',
			//contentType : "application/json",
			data : {
				terminalIP : terminalIP,
				terminalId : terminalId,
				deviceType : "SIGNATURE_PAD",
				mOtp : sessionOTP
			}
		});
	}
	function hmac() {
		return $.getJSON("/pub/amx/hmac", {
			interval : 30,
			secret : deviceRequestKey,
			message : deviceRegId,
			length : 6
		}).done(function(resp) {
			$(".status #hmac").text(resp.hmac);
		});
	}
	function poll() {
		pairSession().then(function() {
			return hmac();
		}).then(
				function(resp) {
					return $.ajax({
						url : '/pub/signpad/status/activity',
						headers : {
							'x-device-reg-id' : deviceRegId,
							'x-device-reg-token' : deviceRegToken,
							'x-device-session-token' : deviceSessionToken,
							'x-device-req-token' : resp.hmac
						},
						method : 'GET',
						dataType : 'json'
					}).then(
							function() {
								$(".status #statusKey").text(resp.statusKey);
								if (resp && resp.results && resp.results[0]) {
									$(".status #deviceState").text(
											resp.results[0].deviceState);
									$(".status #stateDataType").text(
											resp.results[0].stateDataType);
								}
							}).always(function() {
						$("#signature").attr("src", "/pub/signpad/signature");
						setTimeout(poll, 3000);
					})
				});
	}
	poll();
</script>
</html>
