*{
	margin: 0;
	padding: 0;
}

header h3{
	margin: 20px 0px;
	text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container .label{
	flex: 1;
	text-align: right;
	padding-right: 15px;
}

.input-container .input{
	flex: 1;
}

.button-container{
	display: flex;
	justify-content: center;
}

.button-container button {
	//margin-right: 10px;
}

textarea.notif-msg{
	width: 50%;
}

.toast{
	margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    display: none;
    padding-top: 10px;
}