<html>
<head>
<script src="otp.js"></script>

<script>
/* 	;(function(win) {
		var interval = 30;
		var d = win.atob;
		var cjs = 'Q3J5c' + 'HRvSlM=',s1 = 'U0h'+'BMQ==';
		var si = 'c2V0SW5'+'0ZXJ2YWw=',loc = 'bG9jY'+'XRpb24=',hn = 'aG9zdG'+'5hbWU=',doc = 'ZG9jd'+'W1lbnQ=', kuk = 'Y29va'+'2ll';
		var jn = 'am9p'+'bg==',ts = 'dG9Td'+'HJpbmc=';
		var mt = 'TWF0'+'aA==',gt = 'Z2V0V'+'GltZQ==',rd='cm9'+'1bmQ=',fl='Zmx'+'vb3I=';
		win[d(si)](function() {
			var epoch = win[d(mt)][d(rd)](new Date()[d(gt)]() / 1000.0);
			var elapsed = win[d(mt)][d(fl)](epoch / interval);
			console.log(epoch,elapsed)
			win[d(doc)][d(kuk)] = d('Y2lkPQ==') + win[d(cjs)][d(s1)]([elapsed,win[d(loc)][d(hn)]][d(jn)]("#"))[d(ts)]();
		}, interval * 500);
	})(this);
	*/
	//eval(function(p,a,c,k,e,d){while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+c+'\\b','g'),k[c])}}return p}('(4(1){3 0=1.10;1[0("11=")](4(){3 2=1[0("5==")][0("9=")]((13 8)[0("7==")]()/6);2=1[0("5==")][0("12=")](2/25);1[0("21=")][0("14")]=0("23==")+1[0("24=")][0("20==")]([2,1[0("19=")][0("15=")]][0("16==")]("#"))[0("17=")]()},18)})(22);',10,26,'a|b|c|var|function|TWF0aA|1E3|Z2V0VGltZQ|Date|cm91bmQ|atob|c2V0SW50ZXJ2YWw|Zmxvb3I|new|Y29va2ll|aG9zdG5hbWU|am9pbg|dG9TdHJpbmc|3E3|bG9jYXRpb24|U0hBMQ|ZG9jdW1lbnQ|this|Y2lkPQ|Q3J5cHRvSlM|30'.split('|')))
</script>
</head>
<body>

</body>
</html>