<!DOCTYPE html>
<html>
<head>
<title>Sample of html based report</title>
</head>
<body>
	<h1>This is a sample of html based report</h1>
	<table>
			<tr>
		<td class="testFont" th:text="#{label.senderdetails}"></td>
		</tr>
		
		--------
		<tr>
		<td class="testFont" pm:pftext="#{label.senderdetails}"></td>
		</tr>
		--------|||||||||||-----
		<tr>
		<td class="testFont" pm:pftext="#{label.senderdetails}"></td>
		</tr>
	
	
	
	
			<tr>
		<td class="testFont" pm:pftext="#{label.senderdetails}"></td>
		</tr>
		
		---------
		
		
			
			<tr>
		khaa gyaa
		</tr>
		
		
					<tr>
		khaa gyaa
		</tr>
		--------------
	</table>

</body>
</html>