<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties" />
	<property name="AUDIT" value="AUDIT" />
	<springProperty scope="context" name="logfile" source="logging.debug-file" />
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} [%replace(%t){"[^0-9a-zA-Z]+","-"} : %X{tnt}-%X{traceId}] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%n${LOG_EXCEPTION_CONVERSION_WORD:-%rEx}
			</Pattern>
		</layout>
	</appender>
	<appender name="AUDIT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%marker{name:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} [%replace(%t){"[^0-9a-zA-Z]+","-"} : %X{tnt}-%X{traceId}] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg x=0=x%n${LOG_EXCEPTION_CONVERSION_WORD:-%rEx}
			</Pattern>
		</layout>
	</appender>
	<logger name="com.amx.jax.logger.AuditService" level="info"  additivity="false">
		<appender-ref ref="AUDIT" />
	</logger>
	<logger name="org.springframework" level="info" />
	<logger name="org.hibernate" level="info" />
	<logger name="com.amx.jax" level="info" />
	<logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" level="info" additivity="false" />
	<root level="${log.level:-INFO}">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>
